html,body{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}
#map{
    height:100%;
    width:100%;
}
#msg{
    width:200px;
    padding:20px;
    background: #ffffff;
    position: absolute;
    bottom:10px;
    left:10px;
    font-size: 15px;
    z-index:9999;
    
}
#reset{
    width:100px;
    height: 40px;
    background-color: #3AA2EB;
    text-align: center;
    line-height: 40px;
    cursor:pointer;
    color:#fff;
    position: absolute;
    bottom:10px;
    left:300px;
    z-index:9999;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;

}
#reset:hover{
    background-color: #1B85CF;
}
#github{
    width:50px;
    height: 50px;
    text-align: center;
    cursor:pointer;
    position: absolute;
    top:0;
    left:50%;
    margin-left:-25px;
    border-radius: 0 0 5px 5px;
    z-index:9999;
    background-color: #fff;
}
.github-icon{
    margin-top:8px;
}
.leaflet-marker-pane .leaflet-editing-icon  {
    margin-left: -6px !important;
    margin-top: -6px !important;
    width: 12px !important;
    height: 12px !important;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.50);
    border-radius: 50px;
}